<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>All Posts</title>
  </head>
  <body>
    <h1>All Posts</h1>
    <% @posts.each do |x|%>

      <h2><%=x.name%></h2>
      <h3><%=x.content%></h3>
      <h4><a href="/posts/<%=x.id%>/edit">Edit</a></h4>

    <% end %>
  </body>
</html>
