<form method="post" action="/posts">
    <input type="text" name="name">
    <input type="text" name="content">
<button type="submit" value="submit">Submit</button>
</form>

<%# 
<form action="/student" method="post">
  Student Name: <input type="text" name="student[name]">
  Student Grade: <input type="text" name="student[grade]">
  <input type="submit">
</form> %>