<!-- a form that POSTs to a controller action, /posts -->
<h1>Add new post:</h1>
<form method="post" action="/posts">
  <p>Post Title: <input type="text" name="name"></p>
  <p>Post Content: <input type="text" name="content"></p>
  <input id="submit" type="submit" value="Produce New Post">
</form>
